In [1]:
# Manipulación de datos
import pandas as pd
import numpy as np
# Gráficas
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
cols = ['NUM_UACM', 'CURP', 'INE', 'NOMBRE']
df = pd.read_csv("./padron_1.csv",sep='\t',usecols= cols)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NUM_UACM  561 non-null    int64
 1   CURP      561 non-null    object
 2   INE       561 non-null    object
 3   NOMBRE    561 non-null    object
dtypes: int64(1), object(3)
memory usage: 17.7+ KB

In [8]:
df.head()

,NUM_UACM,CURP,INE,NOMBRE
0,2002010007,CXCO720320MNESBL09,SEGOB2186011,CASTRO CABRERA OLAYA MARGARITA
1,2002010012,CULJ761111HDFRPR03,IDMEX1501316849,CRUZ LOPEZ JORGE LUIS
2,2002010041,MEFE730214HDFRRD03,IDMEX1556753165,MERINO FERNANDEZ EDGAR
3,2002010044,MOJV711108HDFRMC08,IDMEX1228630666,MORENO JIMENEZ VICTOR MANUEL
4,2002010064,TEVM730303HDFRLR08,IDMEX1314563580,TREJO VELAZQUEZ MARCO ANTONIO

In [ ]:
# debemos adicionarle el nivel y luego agregar el salario