In [1]:
# Import library
import pandas  as pd #Data manipulation
import numpy as np #Data manipulation
import matplotlib.pyplot as plt # Visualization

In [2]:
# Import dataset
# smokers and none smokers file with info about age, children, sex, region and weight data (groups)
#path ='dataset/'
path = 'input/'
df = pd.read_csv(path+'insurance.csv')
print('\nNumber of rows and columns in the data set: ',df.shape)
print('')

#Lets look into top few rows and columns in the dataset
df.head()

Number of rows and columns in the data set:  (1338, 7)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
est = smf.ols(formula='age~bmi+charges', data=df)
res = est.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    age   R-squared:                       0.092
Model:                            OLS   Adj. R-squared:                  0.091
Method:                 Least Squares   F-statistic:                     67.64
Date:                Wed, 06 Sep 2023   Prob (F-statistic):           1.05e-28
Time:                        18:28:54   Log-Likelihood:                -5369.3
No. Observations:                1338   AIC:                         1.074e+04
Df Residuals:                    1335   BIC:                         1.076e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     31.0877      1.879     16.546      0.000      27.402      34.774
bmi            0.1198      0.061      1.955      0.051      -0.000       0.240
charges        0.0003   3.09e-05     10.850      0.000       0.000       0.000
==============================================================================
Omnibus:                      345.305   Durbin-Watson:                   1.967
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               59.638
Skew:                          -0.034   Prob(JB):                     1.12e-13
Kurtosis:                       1.968   Cond. No.                     9.22e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.22e+04. This might indicate that there are
strong multicollinearity or other numerical problems.